* {
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 25px;
}

h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 17px;
}

.contenedor {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.caja1 {
  
  background-image: url(img/mazinger.jpg);
  
}

.caja2 {
  
  background-image: url(img/fulldeportes.jpg);

}

.caja3 {

  background-image: url(img/resto.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.caja4 {
  
  background-image: url(img/bicicletas.jpg);
 
}


.caja5{

  display: flex;
  margin: 154px 0px 24px -922px;
  background-image: url(img/responive_burger.jpg)
}


/* estilos en común cajas */
.caja1, .caja2, .caja3, .caja4, .caja5{

  width: 300px;
  height: 223px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
}


a {
  text-decoration: none;
}

p {
  font-size: 20px;
  color: rgb(15, 1, 1);
  margin-top: 261px;
  text-decoration: none;
}
